# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Ehidiamen Ojielu

[user]
	name = Ehis Ojielu
	email = eojielu@gmail.com
[alias]
	up = pull --rebase --autostash
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	publish = push -u
  st = status
  fix = "!f() { nvim `git diff --name-only`; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/ehis/.gitignore_global
	editor = nvim
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[rebase]
	autoStash = true
